@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Any problems or remarks?</h3><br />
        <span>Feel free to contact us:</span>
        <span class="label"><a href="mailto:Emmy.Jacobs@uantwerpen.be">Emmy.Jacobs@uantwerpen.be</a></span>

    </header>
</section>

<script>
    $(function () {
        $(".contact").addClass("-active");
    });
</script>