@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h5>Choose your action:</h5>
@*@Html.ActionLink("Upload Hemispherical Pictures", "PictureUpload")
@Html.ActionLink("Upload Data Files", "FileUpload")*@
<style>
    .button {
        margin: 50px 20px 50px 20px;
        
    }
        .button:hover {
        text-decoration:none;
        }
</style>
<div class="col-md-4 col-md-offset-1"> <a href="@Url.Action("PictureUpload")" class="button rounded fill-highlight">
    Upload Hemispherical Pictures
</a></div>
<div class="col-md-4 col-md-offset-1"> <a href="@Url.Action("CameraSetups")" class="button rounded fill-highlight">
    Manage Camera Setups
</a></div>
